/.github
/.husky
/build
/dist
/coverage
/cypress
/demos
/server
**/node_modules
.git
.gitignore
.prettierrc
codecov.yml
CODEOWNERS
cypress.json
cypress.config.ts
renovate.json
Jenkinsfile
LICENSE.md
README.md
Dockerfile
CHANGELOG*
**/*.test.*
**/setupTests*
**/testData*
**/public/*settings*.json
!**/public/*settings.example.json
