name: Release Build
on:
  push:
    branches:
      - main
      - develop
    tags: '*'

jobs:
  build:
    name: Release Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3

      - name: Setup Node.js
        uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8 # v3
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install dependencies
        # Ubuntu 16+ does not install libgconf-2-4 by default, so we need to install it ourselves (for Cypress)
        run: |
          npm config set scripts-prepend-node-path true
          sudo apt-get install libgconf-2-4
          yarn --immutable

      - name: Build
        run: yarn build

      - name: Determine tag name
        run: |
          if [ "${{ github.ref }}" = "refs/heads/main" ]
          then
            echo TAG_NAME=snapshot >> $GITHUB_ENV
          elif [ "${{ github.ref }}" = "refs/heads/develop" ]
          then
            echo TAG_NAME=snapshot-develop >> $GITHUB_ENV
          else
            echo TAG_NAME=`basename ${{ github.ref }}` >> $GITHUB_ENV
          fi

      - name: Create tarball
        run: |
          mv build scigateway-$TAG_NAME
          tar -czf scigateway-$TAG_NAME.tar.gz scigateway-$TAG_NAME

      - name: Update snapshot tag
        uses: richardsimko/update-tag@782c008c16efcff2a27f83238dc4b05ffd8f4b52 # v1
        with:
          tag_name: ${{ env.TAG_NAME }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop' }}

      - name: Create/update release
        uses: johnwbyrd/update-release@1d5ec4791e40507e5eca3b4dbf90f0b27e7e4979 # v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: ./scigateway-${{ env.TAG_NAME }}.tar.gz
          release: Release ${{ env.TAG_NAME }}
          tag: ${{ env.TAG_NAME }}
          prerelease: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop' }}
          draft: false
